html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background: #fff;
    overflow-x: hidden;
}

.year-end-sale-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.section-1-content {
    background-color: var(--color-three);
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offer-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.card {
    transition: 0.3s;
    background-color: var(--bg-card);
    padding: var(--padding-1);
    margin: var(--margin-1);
    border-radius: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-card-wrapper {
    display: flex;
}

.basket-section-1, .basket-section-2 {
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
}

.receipt-option {
    justify-content: space-between;
}

.amount-wrapper {
    display: flex;
    justify-content: space-between;
}

.amount-option {
    display: flex;
    justify-content: space-between;
}

.confirm-order {
    margin: 0.5rem;
}

.confirm-order .btn {
    width: 100% !important;
}

.confirm-order span {
    font-size: 0.8rem;
    font-weight: 700;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.count-wrapper input {
    width: 50%;
    text-align: center;
}

.img-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-flex div {
    margin: 0.5rem;
}

.btn-direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-detail .container-fluid {
    padding: 0.5rem;
}

.review-option {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.review-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-content .container-fluid {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem;
}